<html>

<title>CodeMirror</title>
<meta charset="utf-8"/>

<link rel=stylesheet href="lib/codemirror.css">
<script src="lib/codemirror.js"></script>
<script src="mode/xml/xml.js"></script>
<script src="mode/javascript/javascript.js"></script>

<style>
	.CodeMirror { height: 100%; border: 1px solid #ddd; }
	.CodeMirror-scroll { max-height: 100%; }
	.CodeMirror pre { padding-left: 7px; line-height: 1.25; }
	.banner { background: #ffc; padding: 6px; border-bottom: 2px solid silver; text-align: center }
</style>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/jquery.caret.js"></script>
<script>
	var socket;
	var editor; 
	var cursor;
	function connect(){
		editor = CodeMirror.fromTextArea(document.getElementById('demotext'), { lineNumbers: true });
		socket = io();
		socket.emit('sessId', '<%= sessId %>');
		socket.on('newCode', (data) => {
			editor.setValue(data['code']);
			editor.setCursor(cursor);
		});

		function keyhandler(){
			console.log('bruh');
			setTimeout(function(){
				cursor = editor.getCursor();
				updateCode();
			}, 10);
		}
		function keypresshandler(e){
			keyhandler()
		}
		function keydownhandler(e){
			if(	e.key == 'Backspace' ||
				e.key == 'Enter')
				keyhandler();
		}

		document.addEventListener('keypress', keypresshandler);
		document.addEventListener('keydown', keydownhandler);
	}
	function updateCode(){
		socket.emit('updateCode', { code: editor.getValue() } );
	}
	function retrieveCode(){
		socket.emit('retrieveCode');
	}
	function setSelectionRange(input, selectionStart, selectionEnd) {
		if (input.setSelectionRange) {
		    input.focus();
		    input.setSelectionRange(selectionStart, selectionEnd);
		}
		else if (input.createTextRange) {
		    var range = input.createTextRange();
		    range.collapse(true);
		    range.moveEnd('character', selectionEnd);
		    range.moveStart('character', selectionStart);
		    range.select();
		}
	}
	function setCaretToPos (input, pos) {
	       setSelectionRange(input, pos, pos);
	}
</script>
<body onload='connect()'>
<h1>harlo <%= sessId %></h1>
<div style="width: 50%; float: left; background-color: Aqua;">
	<textarea id='demotext'>
<!-- Create a simple CodeMirror instance -->
<link rel="stylesheet" href="lib/codemirror.css">
<script src="lib/codemirror.js"></script>
	</textarea>
</div>
<div style="margin-left: 220px; background-color: Silver;"> 
	Code output 
</div>
</body>
