<html>

<title>CodeMirror</title>
<meta charset="utf-8"/>

<link rel=stylesheet href="lib/codemirror.css">
<script src="lib/codemirror.js"></script>
<script src="mode/xml/xml.js"></script>
<script src="mode/javascript/javascript.js"></script>

<style>
	.CodeMirror { height: 100%; border: 1px solid #ddd; }
	.CodeMirror-scroll { max-height: 100%; }
	.CodeMirror pre { padding-left: 7px; line-height: 1.25; }
	.banner { background: #ffc; padding: 6px; border-bottom: 2px solid silver; text-align: center }
</style>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
	function connect(){
		console.log('connecting to server')
		var socket = io();
		socket.emit('sessId', '<%= sessId %>');
	}
</script>
<body onload='connect()'>
<h1>harlo <%= sessId %></h1>
<div style="width: 50%; float: left; background-color: Aqua;">
	<textarea id=demotext>
<!-- Create a simple CodeMirror instance -->
<link rel="stylesheet" href="lib/codemirror.css">
<script src="lib/codemirror.js"></script>
<script>
	var editor = CodeMirror.fromTextArea(myTextarea, {
		lineNumbers: true
	});
</script>
	</textarea>
	<script>
		var editor = CodeMirror.fromTextArea(document.getElementById("demotext"), {
			lineNumbers: true,
			mode: "text/html",
			matchBrackets: true
		});
	</script>
</div>
<div style="margin-left: 220px; background-color: Silver;"> 
	<button value="Run code" onclick='connect()'>Run Code</button><br>
	Code output 
</div>
</body>
